.card-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 30%;
  height: fit-content;
  background-color: hotpink;
  border-radius: 10px;
  padding: 20px 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.card-title-fav,
.card-location-categories {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card-categories {
  display: flex;
  gap: 10px;
}

img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
}
