:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 20px;
}

.grow {
  flex-grow: 1;
}

.home-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.home-link:hover, .home-link:focus {
  color: green;
}
