* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100dvh;
  min-height: 100%;
  width: 100%;
  overflow-y: scroll;
  color: #000;
  background-color: #fff;
}
